<div>
	<h2>Recipes</h2>
	<button type="button" ng-show="displayRecipeList" ng-click="toggleRecipeDisplay()">Hide</button>
	<button type="button" ng-show="!displayRecipeList" ng-click="toggleRecipeDisplay()">Show</button>
	<table class="table table-striped" ng-show="displayRecipeList">
		<tbody>
			<tr ng-repeat="recipe in recipes | orderBy: 'recipeName'">
				<td>
					<a ng-href="/recipe/{{recipe._id}}">{{recipe.recipeName}}{{generateCountString(recipe.instancesInShoppingList)}}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<h2>Ingredients</h2>
	<button type="button" ng-show="displayIngredientList" ng-click="toggleIngredientDisplay()">Hide</button>
	<button type="button" ng-show="!displayIngredientList" ng-click="toggleIngredientDisplay()">Show</button>
		<table class="table table-striped" ng-show="displayIngredientList">
		<tbody>
			<tr ng-repeat="ingredient in ingredients | orderBy: 'ingredient'">
				<td>
					<p>{{ingredient.amount}} {{ingredient.measurement}} {{ingredient.ingredient}}</p>
				</td>
			</tr>
		</tbody>
	</table>
</div>